APP=darpa
ENV=dev

# use COMPOSE_FILE to include a docker-compose file that sets up mounts
# to folders containing jupyter notebooks
# COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml:docker-compose.mounts.yml
PGHOST=localhost
PGPORT=5432
PGUSER=${APP}${ENV}
PGPASSWORD=dbpassword
PGDATABASE=${PGUSER}
DATABASE_URL=postgresql://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}

# global luigi config
LUIGI_DEFAULT_SCHEDULER_URL=http://scheduler:8082/
LUIGI_LOGGING_CONF_FILE=/usr/src/app/log/logging.conf
LUIGI_CACHE_DIR=/tmp/data
LUIGI_CKAN_USERNAME=ckan_username
LUIGI_CKAN_PASSWORD=ckan_password
LUIGI_CKAN_ADDRESS=https://ckandomain.tld
LUIGI_OUTPUT_PATH=/tmp/data/OUTPUT
LUIGI_EARTHDATA_USERNAME=earthdata_username
LUIGI_EARTHDATA_PASSWORD=earthdata_password
LUIGI_CDS_API_KEY=204dbd6e-3df4-4946-83a4-d3a6706666ba
LUIGI_CDS_API_UID=31830
LUIGI_MAP_API_KEY=AIzaSyAdBBkPsIl9QbAz1FxazX3wsW8dnUlNRFg
LUIGI_KDW_USERNAME=kdw_username
LUIGI_KDW_PASSWORD=kdw_password

DOCUMENTATION_BASE_URL=http://darpa.pages.kimetrica.com/darpa

# writing intermediate/final targets to local filesystem
KILUIGI_INTERMEDIATETARGET_BACKEND_CLASS=kiluigi.targets.ExpiringLocalTarget
KILUIGI_INTERMEDIATETARGET_ROOT_PATH=output/intermediate_targets
KILUIGI_FINALTARGET_BACKEND_CLASS=kiluigi.targets.LocalTarget
KILUIGI_FINALTARGET_ROOT_PATH=output/final_targets

# writing intermediate/final targets to S3
#KILUIGI_INTERMEDIATETARGET_BACKEND_CLASS=kiluigi.targets.ExpiringS3Target
#KILUIGI_INTERMEDIATETARGET_ROOT_PATH=s3://darpa-output-dev/intermediate_targets
#KILUIGI_FINALTARGET_BACKEND_CLASS=kiluigi.targets.TaggableS3Target
#KILUIGI_FINALTARGET_ROOT_PATH=s3://darpa-output-dev/final_targets

# s3 credentials, for S3Targets
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DESCARTESLABS_CLIENT_ID=
DESCARTESLABS_REFRESH_TOKEN=
